.success {
    color: #2ec27e; /* GNOME Green */
}

.error {
    color: #e01b24; /* GNOME Red */
}

.game-card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.game-card:hover {
    filter: brightness(1.1) contrast(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1), 0 12px 30px rgba(0,0,0,0.6);
}

.setup-page {
    opacity: 0;
}

.setup-page.visible {
    opacity: 1;
}

.refresh-fab {
    box-shadow: 0 6px 16px rgba(0,0,0,0.5);
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    border: none;
    border-radius: 99px;
    opacity: 1;
}

.refresh-fab:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 20px @accent_bg_color;
}

.refresh-fab image {
    -gtk-icon-size: 32px;
}


/* Dashboard Tab Styling */
togglebutton {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0;
}

.overlay-tab {
    /* 1. Remove Rounded Corners */
    border-radius: 0;
    border: none;
    
    /* 2. Bigger Font */
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 2px;

    /* 3. Darker Unselected State */
    background-color: rgba(0, 0, 0, 0.85); 
    color: rgba(255, 255, 255, 0.6);
    
    transition: all 0.3s ease;
}

.overlay-tab:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

/* 4. Selected (Checked) Tab State */
.overlay-tab:checked {
    /* Clearer background so the banner image is visible */
    background-color: rgba(0, 0, 0, 0.1); 
    color: white;
    /* Bottom accent line to show focus */
    border-bottom: 6px solid @accent_bg_color;
    text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.warning-badge { 
    background-color: rgba(255, 255, 0, 0.4);
    border-radius: 99px;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 0, 0.4);
}

.warning-badge:hover {
    background-color: rgba(255, 255, 0, 0.7);
    border: 1px solid @accent_bg_color;
}

.badge-action-row { 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 99px;
    padding: 4px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
        
.badge-action-row:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid @accent_bg_color;
}

.badge-action-row-accent { 
    background-color: alpha(@accent_bg_color, 0.7); 
    border-radius: 99px;
    padding: 4px 12px;
    border: 1px solid alpha(@accent_bg_color, 0.8);
}
        
.badge-action-row-accent:hover {
    background-color: @accent_bg_color;
    border: 1px solid @accent_bg_color;
}

.badge-accent {
    background-color: @accent_bg_color;
    color: white;
    border-radius: 6px;
    padding: 2px 10px;
    font-weight: bold;
}

.badge-grey {
background-color: #333333;
color: white;
border-radius: 6px;
padding: 2px 10px;
font-weight: bold;
}

switch.green-switch:checked {
background-color: @accent_bg_color;
}

